<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} — {% if page.authors %}{{ page.authors | first }}{% endif %}{% else %}{{
        config.title }}{% endif %}</title>
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='favicon.svg') }}">
    <link rel="apple-touch-icon" href="{{ get_url(path='favicon.svg') }}">
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>

<body>
    {% if page.title %}<span class="progress hidden">%</span>{% endif %}
    <main>
        <header>
            <h1><a href="/">{% if section.title %}{{ section.title }}{% else %}{{ page.title }}{% endif %}</a></h1>
        </header>
        {% block main %} {% endblock main %}
    </main>
    {% if page.title %}
    <script>
        let p = document.querySelector('.progress');

        let v = () => {
            let h = document.documentElement;
            let d = h.scrollHeight - h.clientHeight;
            return d
                ? Math.max(0, Math.round(h.scrollTop / d * 100)) + '%'
                : '0%';
        };

        p.onclick = () => {
            p.classList.toggle('hidden');
            p.textContent = p.classList.contains('hidden') ? '%' : v();
        };

        onscroll = () => {
            if (!p.classList.contains('hidden')) {
                p.textContent = v();
            }
        };
    </script>
    {% endif %}
</body>

</html>
